<h1> Calculate your monthly payment! </h1>

<form action="/payment/payment_result">
  <row>
    <label>
      Enter your APR:
    </label>
    <input type="text" name="user_rate">
    <br>
  </row>
  <row>
    <label>
      Enter the length (in years) of your loan:
    </label>
    <input type="text" name="user_years">
    <br>
  </row>
  <row>
    <label>
      Enter the principal amount borrowed:
    </label>
    <input type="text" name="user_principal">
  </row>
  <br>
  <row>
    <button>Calculate monthly payment!</button>
  </row>
</form>
