<h3> "On a <%= @user_years.to_i %>-year loan with an interest rate of <%= @user_rate %> percent and beginning principal of <%= @user_principal/1000 %>k, you will owe <%= @payment.round(3) %> per month!" </h3>
