<h1> Generate a random number! </h1>

<form action="/random/random_result">
  <row>
    <label>
      Enter your minimum value:
    </label>
    <input type="text" name="user_rate">
  </row>
  <row>
    <label>
      Enter your maximum value:
    </label>
    <input type="text" name="user_years">
  </row>
    <button>Generate!</button>
  </row>
</form>
