<h1> Generate a random number! </h1>

<form action="/random/random_result">
  <row>
    <label for="user_min">
      Minimum
    </label>
    <input id="user_min" type="text" name="user_min">
  </row>
  <row>
    <label for="user_max">
      Maximum
    </label>
    <input id="user_max" type="text" name="user_max">
  </row>
    <button>Pick random number</button>
  </row>
</form>
