<h1> Find any square root instantly! </h1>

<form action="/square_root/root_result">
  <label>
    Enter a number
  </label>
  <input type="text" name="user_num">
  <button>Calculate square root</button>
</form>
