<h1> Square any number instantly! </h1>

<form action="/square/square_result">
  <label>
    Enter a number
  </label>
  <input type="text" name="user_num">
  <button>Calculate square</button>
</form>
