<h1> Square any number instantly! </h1>

<form action="/square/square_result">
  <label for="number_input">
    Enter a number
  </label>
  <input id= "number_input" type="text" name="user_num">
  <button>Calculate square</button>
</form>
